<app-navbar></app-navbar>
<div class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-scroll-top--shown">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body ">
      <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="row">
              <div class="col-md-9 col-xs-12 m-subheader m--padding-50 ">
                  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                      <div class="m-portlet__head m-portlet__head--fit">
                        <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-action">
                            <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                              Life
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="m-portlet__body">
                        <div class="m-widget19">
      
                              <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                <h3 class="m-widget19__title m--font-light">
                                  Introducing New Feature
                                </h3>
                                <div class="m-widget19__shadow"></div>
                              </div>
      
                              <div class="m-widget19__content">
                                <div class="m-widget19__header">
                                  <div class="m-widget19__user-img">
                                    <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                  </div>
                                  <div class="m-widget19__info">
                                    <span class="m-widget19__username">
                                       <a href="annakrox">Genjourist Anna Krox</a>
                                    </span>
                                    <br>
                                    <span class="m-badge m-badge--danger m-badge--wide">
                                        14-30
                                      </span>
                                  </div>
                                  <div class="m-widget19__stats">
                                      <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
                                          <button type="button" class="m-btn btn btn-secondary">
                                            <i class="la la-file-text-o"></i> <span class="m--font-info">784</span> Support 
                                          </button>
                                          <div class="m-btn-group btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary m-btn m-btn--pill-last dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon-network"></i> <span class="m--font-info">184</span> Replicate 
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -176px, 0px); top: 0px; left: 0px; will-change: transform;">
                                              <a class="dropdown-item" href="#">
                                                Dropdown link
                                              </a>
                                              <a class="dropdown-item" href="#">
                                                Dropdown link
                                              </a>
                                              <a class="dropdown-item" href="#">
                                                Dropdown link
                                              </a>
                                              <a class="dropdown-item" href="#">
                                                Dropdown link
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                                <div class="">
                                  <p class="lead">
                                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis beatae laboriosam velit exercitationem natus, a placeat provident quasi blanditiis quisquam! Reiciendis adipisci animi magnam praesentium nobis iusto unde assumenda commodi.
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde necessitatibus, amet, laborum nemo, aliquam quasi minus odit earum totam cupiditate quisquam distinctio fuga debitis provident voluptatum aliquid. Est, reprehenderit eum.
                                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> <br> Modi praesentium aut quas dignissimos nulla odio, cupiditate in excepturi. Eveniet maiores aperiam vitae dicta. Debitis voluptatum quia tempore placeat earum ad!
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta itaque aspernatur consectetur quaerat sit quibusdam incidunt magnam voluptatem obcaecati eligendi beatae earum voluptas voluptate odio totam pariatur excepturi, veniam dicta?
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> <br>
                                      Excepturi officia facere provident debitis unde cum, ut vel eaque praesentium esse, beatae quisquam. Maiores ab reiciendis corrupti consequuntur minima natus repellendus.
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ratione perferendis cum voluptate repellat odit totam numquam distinctio officiis at dolorum facilis voluptatibus, vel animi consequatur dicta blanditiis a natus.
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero optio fugiat veritatis necessitatibus minima ducimus? Ipsam in atque tenetur, labore recusandae ea excepturi earum pariatur possimus quos praesentium. Ipsam, vel?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi deleniti magnam molestias dolores, distinctio alias magni? Alias quibusdam, a autem tempora error id accusantium illo totam commodi sunt assumenda possimus.
                                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium nulla vel tempora magni molestiae tempore autem cum illum distinctio. Laboriosam culpa iure voluptas vero labore tenetur rem velit illum! Sed?
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> <br> Dicta in commodi laborum omnis incidunt unde. Fuga inventore fugiat sed repellendus recusandae saepe, quam itaque iure, culpa suscipit odio laudantium quisquam.
                                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore voluptas, quisquam nesciunt voluptatibus expedita blanditiis nisi impedit. Eveniet, quia. Vero earum doloremque eligendi corrupti nesciunt! Corrupti a numquam cum amet.
                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                  </p>
                                </div>
      
                              </div>
                        </div>
                      </div>
                    </div>           
              </div>
              <div class="col-md-3 m--padding-30">
                <app-sidenav></app-sidenav>
              </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-subheader ">
              <div class="d-flex align-items-center">
                <div class="mr-auto">
                  <h3 class="m-subheader__title ">
                    Recommended
                  </h3>
                </div>
                <div>
                </div>
              </div>
    
                <!--Begin::Main Portlet-->
              <div class="m-content">
                <div class="row">
                  <div class="col">
                    <!--begin:: Widgets/Blog-->
                   
                        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                            <div class="m-portlet__head m-portlet__head--fit">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-action">
                                  <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                    Life
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="m-portlet__body">
                              <div class="m-widget19">
                                  <a href="post">
                                    <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                      <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                      <h3 class="m-widget19__title m--font-light">
                                        Introducing New Feature
                                      </h3>
                                      <div class="m-widget19__shadow"></div>
                                    </div>
                                  </a>
                                    <div class="m-widget19__content">
                                      <div class="m-widget19__header">
                                        <div class="m-widget19__user-img">
                                          <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                        </div>
                                        <div class="m-widget19__info">
                                          <span class="m-widget19__username">
                                             <a href="annakrox">Anna Krox</a>
                                          </span>
                                          <br>
                                          <span class="m-widget19__time">
                                            UX/UI Designer, Google
                                          </span>
                                        </div>
                                      </div>
                                    <a href="post">
                                      <div class="m-widget19__body m-nav__link-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                      </div>
                                    </a>
                                    </div>
                                  
                                <div class="m-widget19__action">
                                    <div class="m--margin-top-5 m--margin-bottom-5 ">
                                        <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
                                          <button type="button" class="m-btn btn btn-secondary">
                                            <i class="la la-file-text-o"></i> Support 
                                          </button>
                                          <div class="m-btn-group btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary m-btn m-btn--pill-last dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon-network"></i> Replicate
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -176px, 0px); top: 0px; left: 0px; will-change: transform;">
                                              <a class="dropdown-item" href="#">
                                                Dropdown link
                                              </a>
                                              <a class="dropdown-item" href="#">
                                                Dropdown link
                                              </a>
                                              <a class="dropdown-item" href="#">
                                                Dropdown link
                                              </a>
                                              <a class="dropdown-item" href="#">
                                                Dropdown link
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                
                    <!--end:: Widgets/Blog-->
                  </div>
                  <div class="col">
                          <!--begin:: Widgets/Blog-->
                          <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                              <div class="m-portlet__head m-portlet__head--fit">
                                <div class="m-portlet__head-caption">
                                  <div class="m-portlet__head-action">
                                    <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                      Life
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="m-portlet__body">
                                <div class="m-widget19">
                                    <a href="post">
                                      <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                        <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                        <h3 class="m-widget19__title m--font-light">
                                          Introducing New Feature
                                        </h3>
                                        <div class="m-widget19__shadow"></div>
                                      </div>
                                    </a>
                                      <div class="m-widget19__content">
                                        <div class="m-widget19__header">
                                          <div class="m-widget19__user-img">
                                            <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                          </div>
                                          <div class="m-widget19__info">
                                            <span class="m-widget19__username">
                                               <a href="annakrox">Anna Krox</a>
                                            </span>
                                            <br>
                                            <span class="m-widget19__time">
                                              UX/UI Designer, Google
                                            </span>
                                          </div>
                                        </div>
                                      <a href="post">
                                        <div class="m-widget19__body m-nav__link-text">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                        </div>
                                      </a>
                                      </div>
                                    
                                  <div class="m-widget19__action">
                                      <div class="m--margin-top-5 m--margin-bottom-5 ">
                                          <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="m-btn btn btn-secondary">
                                              <i class="la la-file-text-o"></i> Support 
                                            </button>
                                            <div class="m-btn-group btn-group" role="group">
                                              <button id="btnGroupDrop1" type="button" class="btn btn-secondary m-btn m-btn--pill-last dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="flaticon-network"></i> Replicate
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -176px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!--end:: Widgets/Blog-->
                    </div>
                    <div class="col">
                        <!--begin:: Widgets/Blog-->
                       
                            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                                <div class="m-portlet__head m-portlet__head--fit">
                                  <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-action">
                                      <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                        Life
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="m-portlet__body">
                                  <div class="m-widget19">
                                      <a href="post">
                                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                          <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                          <h3 class="m-widget19__title m--font-light">
                                            Introducing New Feature
                                          </h3>
                                          <div class="m-widget19__shadow"></div>
                                        </div>
                                      </a>
                                        <div class="m-widget19__content">
                                          <div class="m-widget19__header">
                                            <div class="m-widget19__user-img">
                                              <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                            </div>
                                            <div class="m-widget19__info">
                                              <span class="m-widget19__username">
                                                 <a href="annakrox">Anna Krox</a>
                                              </span>
                                              <br>
                                              <span class="m-widget19__time">
                                                UX/UI Designer, Google
                                              </span>
                                            </div>
                                          </div>
                                        <a href="post">
                                          <div class="m-widget19__body m-nav__link-text">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                          </div>
                                        </a>
                                        </div>
                                      
                                    <div class="m-widget19__action">
                                        <div class="m--margin-top-5 m--margin-bottom-5 ">
                                            <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
                                              <button type="button" class="m-btn btn btn-secondary">
                                                <i class="la la-file-text-o"></i> Support 
                                              </button>
                                              <div class="m-btn-group btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary m-btn m-btn--pill-last dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon-network"></i> Replicate
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -176px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                  <a class="dropdown-item" href="#">
                                                    Dropdown link
                                                  </a>
                                                  <a class="dropdown-item" href="#">
                                                    Dropdown link
                                                  </a>
                                                  <a class="dropdown-item" href="#">
                                                    Dropdown link
                                                  </a>
                                                  <a class="dropdown-item" href="#">
                                                    Dropdown link
                                                  </a>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                    
                        <!--end:: Widgets/Blog-->
                    </div>
                    <div class="col">
                      <!--begin:: Widgets/Blog-->
                     
                          <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                              <div class="m-portlet__head m-portlet__head--fit">
                                <div class="m-portlet__head-caption">
                                  <div class="m-portlet__head-action">
                                    <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                      Life
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="m-portlet__body">
                                <div class="m-widget19">
                                    <a href="post">
                                      <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                        <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                        <h3 class="m-widget19__title m--font-light">
                                          Introducing New Feature
                                        </h3>
                                        <div class="m-widget19__shadow"></div>
                                      </div>
                                    </a>
                                      <div class="m-widget19__content">
                                        <div class="m-widget19__header">
                                          <div class="m-widget19__user-img">
                                            <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                          </div>
                                          <div class="m-widget19__info">
                                            <span class="m-widget19__username">
                                               <a href="annakrox">Anna Krox</a>
                                            </span>
                                            <br>
                                            <span class="m-widget19__time">
                                              UX/UI Designer, Google
                                            </span>
                                          </div>
                                        </div>
                                      <a href="post">
                                        <div class="m-widget19__body m-nav__link-text">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                        </div>
                                      </a>
                                      </div>
                                    
                                  <div class="m-widget19__action">
                                      <div class="m--margin-top-5 m--margin-bottom-5 ">
                                          <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="m-btn btn btn-secondary">
                                              <i class="la la-file-text-o"></i> Support 
                                            </button>
                                            <div class="m-btn-group btn-group" role="group">
                                              <button id="btnGroupDrop1" type="button" class="btn btn-secondary m-btn m-btn--pill-last dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="flaticon-network"></i> Replicate
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -176px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                  
                      <!--end:: Widgets/Blog-->
                  </div>
                  
                </div>
              </div>
                <!--End::Main Portlet-->
          
                <!--End::Main Portlet-->
            </div>
        </div>
        <!-- END: Subheader -->
  
      </div>
    </div>
  </div>