<app-navbar></app-navbar>



<div class="profileContainer">
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader">

    </div>
    <!-- END: Subheader -->
    <div class="m-content m--margin-top-15 m--margin-25">
      <div class="row">
        <div class="col-xl-3 col-lg-4">
          <div class="m-portlet m-portlet--full-height  ">
            <div class="m-portlet__body">
              <div class="m-card-profile">
                <div class="m-card-profile__title m--hide">
                  Profile
                </div>
                <div class="m-card-profile__pic">
                  <div class="m-card-profile__pic-wrapper">
                    <img src="assets/app/media/img/users/user4.jpg" alt="">
                  </div>
                </div>
                <div class="m-card-profile__details">
                    <span class="m-card-profile__name">
                      Genjourist Mark Andre
                    </span>
                  </div>
                  <br>
                <div class="row">
                    <div class="col">
                        <div class="m-widget19__stats text-center">
                            <h3 class="m--font-brand">
                              1895
                            </h3>
                            <span class="m-widget19__comment">
                              Support
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="m-widget19__stats text-center">
                            <h3 class="m--font-brand">
                                995
                              </h3>
                            <span class="m-widget19__comment">
                              Supporting
                            </span>
                        </div>
                    </div>    
                                     
                </div>
              </div>
              <div class="m-separator"></div>
              <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                <li class="m-nav__separator m-nav__separator--fit"></li>
                <li class="m-nav__section m--hide">
                  <span class="m-nav__section-text">
                    Section
                  </span>
                </li>
                <li class="m-nav__item">
                  <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                    <span class="m-nav__link-title">
                      <span class="m-nav__link-wrap">
                        <span class="m-nav__link-text">
                          Age
                        </span>
                        <span class="m-nav__link-badge">
                          <span class="m-badge m-badge--success m-badge--wide">
                            14-30
                          </span>
                        </span>
                      </span>
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-share"></i>
                    <span class="m-nav__link-title">
                      <span class="m-nav__link-wrap">
                        <span class="m-nav__link-text">
                          Gender
                        </span>
                        <span class="m-nav__link-badge">
                          <span class="m-badge m-badge--info m-badge--wide">
                            Male
                          </span>
                        </span>
                      </span>
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                    <span class="m-nav_link-wrap">
                      <span class="m-nav__link-text">
                          Phone Number
                        </span>
                        <span class="m--pull-right p-details">
                            +8989565623
                        </span>
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-graphic-2"></i>
                    <span class="m-nav_link-wrap">
                        <span class="m-nav__link-text">
                            Email
                          </span>
                          <span class="m--pull-right p-details">
                              qwertyuio@qwetyio.com
                          </span>
                      </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-time-3"></i>
                    <span class="m-nav__link-text">
                      Events
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a href="header/profile&amp;demo=default.html" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                    <span class="m-nav__link-text">
                      Support
                    </span>
                  </a>
                </li>
              </ul>
              <div class="m-portlet__body-separator"></div>
              <div class="m-widget1 m-widget1--paddingless">
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Member Profit
                      </h3>
                      <span class="m-widget1__desc">
                        Awerage Weekly Profit
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-brand">
                        +$17,800
                      </span>
                    </div>
                  </div>
                </div>
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Orders
                      </h3>
                      <span class="m-widget1__desc">
                        Weekly Customer Orders
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-danger">
                        +1,800
                      </span>
                    </div>
                  </div>
                </div>
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Issue Reports
                      </h3>
                      <span class="m-widget1__desc">
                        System bugs and issues
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-success">
                        -27,49%
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8">
          <div class="m-content">
            <div class="row">
              <div class="col-lg">
                <!--begin::Portlet-->
                <div class="m-portlet">
                  <div class="m-portlet__body">
                    <ul class="nav nav-tabs  m-tabs-line" role="tablist">
                      <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                          Articles
                        </a>
                      </li>
                      <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                          Quotes
                        </a>
                      </li>
                      <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                          Interview
                        </a>
                      </li>
                      <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                          Survey
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
                          <div class="m--pull-right">
                              <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                  <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                    Sort
                                  </a>
                                  <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 36.5px;"></span>
                                    <div class="m-dropdown__inner">
                                      <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                          <ul class="m-nav">
                                            <li class="m-nav__item">
                                              <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">
                                                  Yesterday
                                                </span>
                                              </a>
                                            </li>
                                            <li class="m-nav__item">
                                              <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">
                                                  Week
                                                </span>
                                              </a>
                                            </li>
                                            <li class="m-nav__item">
                                              <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">
                                                  Month
                                                </span>
                                              </a>
                                            </li>
                                            <li class="m-nav__item">
                                              <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">
                                                  Year
                                                </span>
                                              </a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="m-widget5">
                              <div class="m-widget5__item">
                                <div class="m-widget5__pic">
                                  <img class="m-widget7__img" src="assets/app/media/img//products/product6.jpg" alt="">
                                </div>
                                <div class="m-widget5__content">
                                  <h4 class="m-widget5__title">
                                    Great Logo Designn
                                  </h4>
                                  <span class="m-widget5__desc">
                                    Make Metronic Great  Again.Lorem Ipsum Amet
                                  </span>
                                  <div class="m-widget5__info">
                                    <span class="m-widget5__author">
                                      Author:
                                    </span>
                                    <span class="m-widget5__info-label">
                                      author:
                                    </span>
                                    <span class="m-widget5__info-author-name">
                                      Fly themes
                                    </span>
                                    <span class="m-widget5__info-label">
                                      Released:
                                    </span>
                                    <span class="m-widget5__info-date m--font-info">
                                      23.08.17
                                    </span>
                                  </div>
                                </div>
                                <div class="m-widget5__stats1">
                                  <span class="m-widget5__number">
                                    19,200
                                  </span>
                                  <br>
                                  <span class="m-widget5__sales">
                                    supports
                                  </span>
                                </div>
                                <div class="m-widget5__stats2">
                                  <span class="m-widget5__number">
                                    1046
                                  </span>
                                  <br>
                                  <span class="m-widget5__votes">
                                    replicates
                                  </span>
                                </div>
                              </div>
                              <div class="m-widget5__item">
                                <div class="m-widget5__pic">
                                  <img class="m-widget7__img" src="assets/app/media/img//products/product10.jpg" alt="">
                                </div>
                                <div class="m-widget5__content">
                                  <h4 class="m-widget5__title">
                                    Branding Mockup
                                  </h4>
                                  <span class="m-widget5__desc">
                                    Make Metronic Great  Again.Lorem Ipsum Amet
                                  </span>
                                  <div class="m-widget5__info">
                                    <span class="m-widget5__author">
                                      Author:
                                    </span>
                                    <span class="m-widget5__info-author m--font-info">
                                      Fly themes
                                    </span>
                                    <span class="m-widget5__info-label">
                                      Released:
                                    </span>
                                    <span class="m-widget5__info-date m--font-info">
                                      23.08.17
                                    </span>
                                  </div>
                                </div>
                                <div class="m-widget5__stats1">
                                  <span class="m-widget5__number">
                                    24,583
                                  </span>
                                  <br>
                                  <span class="m-widget5__sales">
                                    supports
                                  </span>
                                </div>
                                <div class="m-widget5__stats2">
                                  <span class="m-widget5__number">
                                    3809
                                  </span>
                                  <br>
                                  <span class="m-widget5__votes">
                                    replicates
                                  </span>
                                </div>
                              </div>
                              <div class="m-widget5__item">
                                <div class="m-widget5__pic">
                                  <img class="m-widget7__img" src="assets/app/media/img//products/product11.jpg" alt="">
                                </div>
                                <div class="m-widget5__content">
                                  <h4 class="m-widget5__title">
                                    Awesome Mobile App
                                  </h4>
                                  <span class="m-widget5__desc">
                                    Make Metronic Great  Again.Lorem Ipsum Amet
                                  </span>
                                  <div class="m-widget5__info">
                                    <span class="m-widget5__author">
                                      Author:
                                    </span>
                                    <span class="m-widget5__info-author m--font-info">
                                      Fly themes
                                    </span>
                                    <span class="m-widget5__info-label">
                                      Released:
                                    </span>
                                    <span class="m-widget5__info-date m--font-info">
                                      23.08.17
                                    </span>
                                  </div>
                                </div>
                                <div class="m-widget5__stats1">
                                  <span class="m-widget5__number">
                                    10,054
                                  </span>
                                  <br>
                                  <span class="m-widget5__sales">
                                    sales
                                  </span>
                                </div>
                                <div class="m-widget5__stats2">
                                  <span class="m-widget5__number">
                                    1103
                                  </span>
                                  <br>
                                  <span class="m-widget5__votes">
                                    votes
                                  </span>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                      </div>
                      <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                        hello  tab 3
                      </div>
                    </div>
                  </div>
                </div>
          
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
