<div class="bounds">
  <app-user-navbar></app-user-navbar>
    <div class="content"
         fxLayout="row"
         fxLayout.xs="column"
         fxFlexFill >
  
  
        <div fxFlex="15" class="sec2" >
  
  
          <mat-card class="user-card">
            <img mat-card-image src="../../../../assets/pp/img1.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions layout="row" layout-align="end center">
              
                    <mat-chip-list fxLayout="row" >
                      <span class="spacer"></span>
                
                        
                    </mat-chip-list>
            </mat-card-actions>
          </mat-card>
          
  
        </div>
        <div fxFlex="25" class="sec4">
            <h1 class="mat-headline">Genjourist Raj Amit Singh</h1><br>
            <mat-button-toggle color="primary">Support</mat-button-toggle>
            <mat-button-toggle color="primary">Supporters</mat-button-toggle>
        </div>
        <div fxFlex="7" class="sec5">
            <mat-chip color="warn" selected="true">14-30</mat-chip>
        </div>
        <div fxFlex="5" class="sec5">
            <mat-chip align="end" color="primary" selected="true">Male</mat-chip>
        </div>
        <div fxFlex="48" class="sec3" fxFlex.xs="5">
  
            <mat-toolbar color="primary">
                <span class="surveyHeading">Survey Answers</span>
                <mat-toolbar-row>
                  <mat-icon class="example-icon">favorite</mat-icon>
                  <mat-icon class="example-icon">delete</mat-icon>
                  <mat-icon class="example-icon">favorite</mat-icon>
                  <mat-icon class="example-icon">delete</mat-icon>
                  <mat-icon class="example-icon">delete</mat-icon>
                </mat-toolbar-row>
            </mat-toolbar>
            <div class="interviewRow">
                <mat-chip-list>
                    <mat-chip color="accent" selected="true">Interviews</mat-chip>
                  </mat-chip-list>
            </div>
        </div> <!-- 70 end here -->
  
    </div>
  
  </div>
  