



<div class="bounds">
<app-user-navbar></app-user-navbar>
  <div class="content"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill >


      <div fxFlex="30" class="sec2" >


        <mat-card class="user-card">
          <img mat-card-image src="../../../../assets/pp/img1.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <h1 class="mat-headline">Username</h1>
          </mat-card-content>
          <mat-card-actions layout="row" layout-align="end center">
                  <mat-chip-list fxLayout="row" >
                    <mat-button-toggle color="primary">Support</mat-button-toggle>
                    <span class="spacer"></span>
                      <mat-chip color="warn" selected="true">14-30</mat-chip>
                      <mat-chip align="end" color="primary" selected="true">Male</mat-chip>
                  </mat-chip-list>
          </mat-card-actions>
        </mat-card>


      </div>
      <div fxFlex="70" class="sec3" fxFlex.xs="15">

        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Contribute
              </mat-panel-title>
              <mat-panel-description>
                Article
                <mat-icon>create</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>


              <div class="articleTitle">
                <mat-form-field>
                  <input matInput placeholder="Title">
                </mat-form-field>
              </div>
              <div class="category">
                <mat-form-field>
                  <mat-select placeholder="Category">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Socitey</mat-option>
                    <mat-option value="option">Life</mat-option>
                    <mat-option value="option">Controvery</mat-option>
                    <mat-option value="option">Politics</mat-option>
                    <mat-option value="option">Philosophy</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


            <br />

            <div class="articleContent">
              <mat-form-field>
                <textarea matInput placeholder="Content"></textarea>
              </mat-form-field>
            </div>

            <br>

            <mat-form-field class="hashTags">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                         [removable]="removable" (remove)="remove(tag)">
                  {{tag.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Hash Tags... (eg. category name, social)"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)" />
              </mat-chip-list>
            </mat-form-field>

              <button mat-raised-button color="basic">Upload Image</button>

            <mat-action-row>
              <button mat-raised-button color="primary">Submit</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Contritube
              </mat-panel-title>
              <mat-panel-description>
                Quotation
                <mat-icon>format_quote</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="category">
              <mat-form-field>
                <mat-select placeholder="Category">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Socitey</mat-option>
                  <mat-option value="option">Life</mat-option>
                  <mat-option value="option">Controvery</mat-option>
                  <mat-option value="option">Politics</mat-option>
                  <mat-option value="option">Philosophy</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          <br />
          <div class="articleContent">
            <mat-form-field class="example-full-width">
              <input matInput #message maxlength="256" placeholder="Quote">
              <mat-hint align="start"><strong>Be unique</strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
          </div>



            <mat-action-row>

              <button mat-raised-button color="primary">Submit</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Track
              </mat-panel-title>
              <mat-panel-description>
                Check your contributions
                <mat-icon>more</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>


            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
          </mat-expansion-panel>

        </mat-accordion>


      </div>

  </div>

</div>
